In [9]:
import pandas as pd
import numpy as np

In [13]:
sig = pd.read_table("KEGG.sig", header = None, sep = ' ')
sig.drop([1, 2, 3,4, 6, 7, 8, 9, 10, 11, 12], axis =1 , inplace = True)
sig.head()

         0     5
0      SRF  ELK1
1      SRF  ELK4
2    MKNK2  ATF4
3    MKNK1  ATF4
4  RPS6KA6  ATF4

In [14]:
#Insert first four columns for .sig file format (NaNs)
sig.insert(1, 'NA-1', str(np.nan))
sig.insert(2, 'NA-2', str(np.nan))
sig.insert(3, 'NA-3', str(np.nan))
sig.insert(4, 'NA-4', str(np.nan))

#Insert next four columns for .sig file format (NaNs)
sig.insert(6, 'NA-5', str(np.nan))
sig.insert(7, 'NA-6', str(np.nan))
sig.insert(8, 'NA-7', str(np.nan))
sig.insert(9, 'NA-8', str(np.nan))

sig.insert(10, 'Sign', str(np.nan))

sig.insert(11, 'Interaction', str(np.nan))

sig.insert(12, 'PubMed', str(np.nan))

#View dataframe
sig.head()

,0,NA-1,NA-2,NA-3,NA-4,5,NA-5,NA-6,NA-7,NA-8,Sign,Interaction,PubMed
0,SRF,nan,nan,nan,nan,ELK1,nan,nan,nan,nan,nan,nan,nan
1,SRF,nan,nan,nan,nan,ELK4,nan,nan,nan,nan,nan,nan,nan
2,MKNK2,nan,nan,nan,nan,ATF4,nan,nan,nan,nan,nan,nan,nan
3,MKNK1,nan,nan,nan,nan,ATF4,nan,nan,nan,nan,nan,nan,nan
4,RPS6KA6,nan,nan,nan,nan,ATF4,nan,nan,nan,nan,nan,nan,nan

In [15]:
#Create dictionary 'sigd' with index numbers as keys
sigd = dict([(key, '') for key in sig.index])

# loop through rows with iterrows()
for index, rowData in sig.iterrows():
    line = ('\t'.join(rowData))
    sigd[index] = line
    
#Transfer tab-separated info into a new txt file
#Make sure to include in ReadMe corresponding column names
with open('KEGG.sig', 'w') as openfile:
    for index in sigd:
        openfile.write(str(sigd[index]) + '\n')